<!DOCTYPE html>
<html>
<head>
<title>CONECTE-SE</title>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/styleLogin.css">
</head>
<body>
	<!--<img class="fundo" src="img/fundo-gradiente.png">-->
	<div class="container">
		<div class="login-container">
			<form action="/RecuperarSenha">
				<!--<img class="avatar" src="img/avatar.svg">-->
				<img class="sedf" src="img/sedef.jpg">
				<h3>Secretária da Educação</h3>
				<h6>Digite ou fale as informações abaixo</h6>
				<h2>Para recuperar a senha</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div>
						<h5>Digite ou fale seu CPF</h5>
						<input class="input" type="text"><i
							class="fas fa-microphone fa-pull-right "></i>
					</div>
				</div>
				<div class="input-div two">
					<div class="i">
						<i class="fal fa-envelope"></i>
					</div>
					<div>
						<h5>Digite ou fale seu e-mail</h5>
						<input class="input" type="text"><i
							class="fas fa-microphone fa-pull-right"></i>
					</div>
				</div>
				<div class="input-div three">
					<div class="i">
						<i class="fal fa-mobile-alt"></i>
					</div>
					<div>
						<h5>Digite ou fale seu telefone</h5>
						<input class="input" type="text"><i
							class="fas fa-microphone fa-pull-right"></i>
					</div>
				</div>
				<div class="title">
					<!--<a href="#" class="a">Já sou Cadastrado</a>-->
					<input formaction="" type="submit" class="btn" value="Enviar"
						name="">
				</div>
			</form>
		</div>
	</div>
</body>
</html>